table.timetable {
    width: 100%;
    border-collapse: separate;
    font-size:0.9em;
    font-family:Arial;
    color: grey;
}
table.timetable tr:nth-child(even) {
    background: #def
}
table.timetable tr td{
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
 table.timetable tr td{
    padding: 0px;
}
 table.timetable tr th{
    text-align: center;
    padding: 5px;
    border: 1px solid orange;
    font-weight:bold;
    background: #ccddee;
    color: #000;
}
table.timetable tr td.jamah{
    font-weight: bold;
    background-color: #e1eafe;
}
table.timetable tr:hover {
    background-color: mintcream;
}
table.timetable tr.today{
    padding:2;
    font-weight: bold;
    background-color: #e1eafe;
    border-collapse:collapse;
}
table.timetable tr.today td{
    border: 1px solid orange;
}

.submitButton {
    width:200px;
    height: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

}
.submitButton:hover {
    background: #28597a;
    color: #ccc;
}

.error {
    color: red;

}

.important {
    color: blue;
}

.success {
    color: green;
}

div.donation {
    width: auto;
    color: #000000;
    background-color: #f1f1f1;
    padding: 15px;
    line-height: 1.15em;
    word-wrap: break-word;
    margin-bottom: 12px;
    margin-top: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.donation-text {
    margin-top: 20px;
    font-family: Consolas,"monospace";
    width: auto;
    background-color: #ffffff;
    padding: 1.1%;
    border-left: 4px solid #8AC007;
    word-wrap: break-word;
}
div.donation-link {
    margin-top: 20px;
    width: 25%;
    background-color: #0088cc;
    color: white;
    padding: 1.1%;
    border-left: 4px solid #8AC007;
    word-wrap: break-word;
    font-size: medium;
    text-align: center;
}
div.donation-link a{
    color: white;
}
div.donation-link a:hover{
    color: black;
}
